@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #4D9AD2;
  --background-primary-color: #F8F3F3;
  --etc: #C1C1C164;
  --font-family: "Poppins";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-primary-color: #4D9AD2;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

html,
body {
  margin: 0px;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-primary-color);
  font-family: var(--font-family);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
